body{
	BACKGROUND: #DBDBDB; /* page background color */
	COLOR: black; /* page font color */
}
body p{
	width:500px;	
}

#page-pic{
	width: 300px;
}
#header{
	color:white;
	margin:0;
	text-align:center;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background: -webkit-gradient(bottom, #DB2B2B, #992424); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom, #DB2B2B, #992424); /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(bottom, #DB2B2B, #992424); /* mozille */
	background: -ms-linear-gradient(bottom, #DB2B2B, #992424); /* IE10+ */
	background: -o-linear-gradient(bottom, #DB2B2B, #992424); /* Opera 11.10+ */
	background: linear-gradient(to bottom, #DB2B2B, #992424);  /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DB2B2B', endColorstr='#992424',GradientType=1 ); /* IE6-9 */
}
#content{
	padding-top:50px;
}
#top-nav{
	text-align:center;
}
#top-nav li{
	display: inline-block;
	list-style-type: none;
	padding-left: 25px;
	padding-right: 25px;
	vertical-align: middle;
	line-height: 30px;
	border-radius:10px;
	height: 30px;
	border: 1px solid lightgray;
	background: #E3934B;
	background: url(//cdn.shopify.com/s/files/1/0539/6177/t/50/assets/noise.png?3753461888792056979) repeat,-webkit-linear-gradient(top, #DD6700, #e3934b);
	background: url(//cdn.shopify.com/s/files/1/0539/6177/t/50/assets/noise.png?3753461888792056979) repeat,linear-gradient(top, #DD6700, #e3934b);
	background: url(//cdn.shopify.com/s/files/1/0539/6177/t/50/assets/noise.png?3753461888792056979) repeat,-moz-linear-gradient(top, #DD6700, #e3934b);
	background: url(//cdn.shopify.com/s/files/1/0539/6177/t/50/assets/noise.png?3753461888792056979) repeat,-webkit-gradient(linear, top, bottom, #DD6700, #e3934b);
	background: url(//cdn.shopify.com/s/files/1/0539/6177/t/50/assets/noise.png?3753461888792056979) repeat,-ms-linear-gradient(top, #DD6700, #e3934b);
	background: url(//cdn.shopify.com/s/files/1/0539/6177/t/50/assets/noise.png?3753461888792056979) repeat,-o-linear-gradient(top, #DD6700, #e3934b);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DD6700', endColorstr='#E3934B',GradientType=0 );
}

#top-nav li a{
	text-decoration: none;
	color: white;
	font-weight:bolder;
}
#top-nav li:hover{
	text-decoration: underline !important;
	cursor:pointer;
}